<html>
<head> Paint </head>
<body>
<p> Draw any of the following:</p>
<p> {{u}}</p>
<p> {{v}}</p>
<p> {{w}}</p>
<form method='POST' action='http://localhost:5000/'>
  <p><input type="radio" name="pict" value="guess">Click to guess the drawing </p>
    <p><input type="radio" name="pict" value="draw">Click to start drawing</p>
    <p><input type="submit" value="submit"></p>
</form>
<p> Press escape to show the result </p>
<p>  {{t}}</p>
  <!-- <form method='POST' action='http://localhost:5000/guess'>
    <p><input type="submit" value="Click to guess the drawing"></p>
  </form> -->
</body>
</html>
